.header{
  background-color: rgb(37, 151, 244);
  color: white;
  padding: 2rem;
  
}

.columns {
  display: flex;
  padding: 1rem;
  flex-wrap: wrap;
}

.column {

  display: flex;
  box-shadow: 0px 1px 4px 0.5px rgb(153, 153, 153);;
  width: 25rem;
  padding: 0rem;
  margin: 1rem;
  background-color: #fff;
  cursor: pointer;
  border-radius: 1rem;
}

.column:hover{
  background-color: antiquewhite;
}

.column .title{
  font-weight: bold;
  padding: 1rem;
}

.column .text {
  padding: 1rem;
}

.column img{
  width: 25rem;
  border-radius: 1rem 1rem 0 0 ;
}